*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    /* background-color: #fffff; */
    background-color: lightgray;
    /* padding:120px;
    margin:auto; */
}
nav{
     width: 100%;
     max-width:1600px;
     /* height: 92px; */
     border: 1px solid white;
     margin:0px auto;
     display: flex;
     justify-content:space-between;
}